<div [class]="containerClasses()">
    @if (hasHeader()) {
      <div 
        [class]="headerClasses()"
        [class.mb-2]="hasMessage()">
        @if (type() === 'loading') {
          <app-loading-spinner 
            size="sm" 
            [class]="iconClasses()">
          </app-loading-spinner>
        } @else if (hasIcon()) {
          <lucide-icon 
            [img]="icon()" 
            [class]="iconClasses()">
          </lucide-icon>
        }
        @if (hasTitle()) {
          <h4 [class]="titleClasses()">
            @if (titleKey()) {
              {{ titleKey() | translate }}
            } @else {
              {{ title() }}
            }
          </h4>
        }
      </div>
    }
  
    @if (hasMessage()) {
      <p [class]="messageClasses()">
        @if (messageKey()) {
          {{ messageKey() | translate }}
        } @else {
          <span [innerHTML]="message()"></span>
        }
      </p>
    }
  
    <!-- Projected content always appears after message -->
    <ng-content></ng-content>
  </div>